/**bases**/
* {
  padding: 0px;
  margin: 0px;
  margin-bottom: auto;
  box-sizing: border-box; }

.maquina-del-tiempo {
  color: rgba(0, 0, 0, 0.97);
  text-align: left;
  font-family: "Inter-SemiBoldItalic", sans-serif;
  font-size: 32px;
  font-weight: 600;
  background: #0722f2;
  font-style: italic;
  border-top-right-radius: 50%;
  position: sticky;
  width: 334.44px;
  height: 55.07px;
  transform-origin: 0 0; }

.parrafoP {
  color: #f4f1f1;
  text-align: justify;
  font-family: "Inter-SemiBoldItalic", sans-serif;
  font-size: 15px;
  font-display: initial;
  font-weight: 600;
  font-style: italic;
  position: relative;
  left: 300px;
  width: 523px;
  height: 150px; }

/**layout**/
.navC {
  display: flex;
  justify-content: space-between;
  list-style: none; }
  .navC .letrasnav {
    color: #ffffff;
    font-family: "Inter-SemiBoldItalic", sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    text-decoration: none; }

.historia-de-playstation {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBoldItalic", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  position: relative;
  height: 44px;
  background-color: 1E1E1E;
  display: flex;
  background-color: #1e1d1d; }

.ps1 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 144px;
  height: 111px;
  object-fit: cover; }

.ps2 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 144px;
  height: 111px; }

.ps3 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 144px;
  height: 111px; }

.ps4 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 144px;
  height: 111px; }

.ps5 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 144px;
  height: 111px; }

.navBar {
  grid-area: header; }
  .navBar .cintillo {
    width: 100%;
    height: auto;
    background: #020024;
    background: radial-gradient(circle, #020024 0%, #8b00af 62%, #04045d 93%, #8604cb 100%);
    border-image: round; }
    .navBar .cintillo .letras-nav {
      color: #ffffff;
      font-family: "Inter-SemiBoldItalic", sans-serif;
      font-size: 25px;
      font-weight: 600;
      font-style: italic;
      text-decoration: none; }
    .navBar .cintillo .generaciones {
      color: #ffffff;
      font-family: "Inter-SemiBoldItalic", sans-serif;
      font-size: 25px;
      font-weight: 600;
      font-style: italic;
      text-decoration: none; }

.ps1 * {
  box-sizing: border-box; }

.pagP {
  background-image: url("../assets/images/background.jpg");
  background-size: 100%;
  background-repeat: repeat;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

.cuerpopag {
  height: 100%;
  width: 100%; }

.main-grid {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); }

.seccion-2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1; }

.seccion-2 .parrafoP {
  all: inherit;
  height: 100%;
  width: 100%;
  font-size: larger;
  color: white;
  word-wrap: normal;
  margin: 0 auto;
  overflow-wrap: break-word; }

.seccion-2 .parrafoP:hover {
  color: red; }

.seccion-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2; }

.seccion-3 .videoyt {
  max-width: 100%;
  max-height: 100%;
  align-items: center; }

.seccion-4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2; }

.seccion-4 img {
  width: 60%;
  height: 60%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-4 img:hover {
  transform: scale(1.5); }

.seccion-4 .parrafoP {
  all: inherit;
  height: 100%;
  width: 100%;
  font-size: larger;
  color: white;
  word-wrap: normal;
  margin: 0 auto;
  overflow-wrap: break-word; }

.seccion-5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3; }

.seccion-5 .parrafoP {
  all: inherit;
  color: white;
  height: auto;
  width: auto;
  overflow-wrap: break-word;
  align-items: center;
  font-size: larger;
  word-wrap: normal; }

.seccion-5 img {
  height: 70%;
  width: 70%;
  border-radius: 50% 50%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-5 img:hover {
  transform: scale(1.5); }

.seccion-6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3; }

.seccion-6 .parrafoP {
  all: inherit;
  color: white;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: medium;
  overflow-wrap: break-word;
  word-wrap: normal; }

.seccion-6 img {
  width: 50%;
  height: 50%;
  border-radius: 50% 50%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-6 img:hover {
  transform: scale(1.5); }

.seccion-7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4; }

.seccion-7 .parrafoP {
  all: inherit;
  color: white;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: medium;
  overflow-wrap: break-word;
  word-wrap: normal; }

.seccion-7 img {
  height: auto;
  width: auto;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-7 img:hover {
  transform: scale(1.5); }

.seccion-8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4; }

.seccion-8 .videoyt {
  max-width: 100%;
  max-height: 100%; }

.bodyps1 {
  background-image: url("../assets/images/ps1.jpg");
  background-size: cover;
  background-size: fill;
  background-repeat: repeat-y;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

.ps1:hover {
  filter: blur(4px); }

.ps1:active {
  filter: invert(2); }

.pagP {
  background-image: url("../assets/images/background.jpg");
  background-repeat: repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

.cuerpopag {
  height: 100%;
  width: 100%; }

.main-grid {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); }

.seccion-2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1; }

.seccion-2 .parrafoP {
  height: 100%;
  width: 100%;
  font-size: larger;
  color: white; }

.seccion2 .img {
  width: 50%;
  height: 50%; }

.seccion-2 .parrafoP:hover {
  color: red; }

.seccion-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2; }

.seccion-3 .videoyt {
  max-width: 100%;
  max-height: 100%;
  align-items: center; }

.seccion-4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2; }

.seccion-4 img {
  width: 60%;
  height: 60%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-4 img:hover {
  transform: scale(1.5); }

.seccion-4 .parrafoP {
  all: inherit;
  color: white;
  height: auto;
  width: auto;
  overflow-wrap: break-word;
  align-items: center;
  font-size: larger;
  word-wrap: normal; }

.seccion-5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3; }

.seccion-5 .parrafoP {
  all: inherit;
  color: white;
  height: auto;
  width: auto;
  overflow-wrap: break-word;
  align-items: center;
  font-size: larger;
  word-wrap: normal; }

.seccion-5 img {
  height: 70%;
  width: 70%;
  border-radius: 50% 50%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-5 img:hover {
  transform: scale(1.5); }

.seccion-6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3; }

.seccion-6 .parrafoP {
  all: inherit;
  color: white;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: medium;
  overflow-wrap: break-word;
  word-wrap: normal; }

.seccion-6 img {
  width: 50%;
  height: 50%;
  border-radius: 50% 50%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-6 img:hover {
  transform: scale(1.5); }

.seccion-7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4; }

.seccion-7 .parrafoP {
  all: inherit;
  color: white;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: medium;
  overflow-wrap: break-word;
  word-wrap: normal; }

.seccion-7 img {
  height: auto;
  width: auto;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-7 img:hover {
  transform: scale(1.5); }

.seccion-8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4; }

.seccion-8 .videoyt {
  max-width: 100%;
  max-height: 100%; }

.bodyps2 {
  background-image: url("../assets/images/backgroundps2.jpg");
  background-size: contain;
  display: flex;
  background-size: fill;
  background-repeat: repeat-y;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

.ps2:hover {
  filter: blur(4px); }

.ps2:active {
  filter: invert(2); }

.pagP {
  background-image: url("../assets/images/background.jpg");
  background-size: 100%;
  background-repeat: repeat;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

.cuerpopag {
  height: 100%;
  width: 100%; }

.main-grid {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); }

.seccion-2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1; }

.seccion-2 .parrafoP {
  height: 100%;
  width: 100%;
  font-size: larger;
  color: white; }

.seccion2 .img {
  width: 50%;
  height: 50%; }

.seccion-2 .parrafoP:hover {
  color: red; }

.seccion-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2; }

.seccion-3 .videoyt {
  max-width: 100%;
  max-height: 100%;
  align-items: center; }

.seccion-4 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2; }

.seccion-4 img {
  width: 60%;
  height: 60%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-4 img:hover {
  transform: scale(1.5); }

.seccion-4 .parrafoP {
  all: inherit;
  color: white;
  height: auto;
  width: auto;
  overflow-wrap: break-word;
  align-items: center;
  font-size: larger;
  word-wrap: normal; }

.seccion-5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3; }

.seccion-5 .parrafoP {
  all: inherit;
  color: white;
  height: auto;
  width: auto;
  overflow-wrap: break-word;
  align-items: center;
  font-size: larger;
  word-wrap: normal; }

.seccion-5 img {
  height: 70%;
  width: 70%;
  border-radius: 50% 50%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-5 img:hover {
  transform: scale(1.5); }

.seccion-6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3; }

.seccion-6 .parrafoP {
  all: inherit;
  color: white;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: medium;
  overflow-wrap: break-word;
  word-wrap: normal; }

.seccion-6 img {
  width: 50%;
  height: 50%;
  border-radius: 50% 50%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-6 img:hover {
  transform: scale(1.5); }

.seccion-7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4; }

.seccion-7 .parrafoP {
  all: inherit;
  color: white;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: medium;
  overflow-wrap: break-word;
  word-wrap: normal; }

.seccion-7 img {
  height: auto;
  width: auto;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-7 img:hover {
  transform: scale(1.5); }

.seccion-8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4; }

.seccion-3 .videoyt {
  max-width: 100%;
  max-height: 100%;
  align-items: center; }

.bodyps3 {
  background-image: url("../assets/images/backgroundps3.jpg");
  background-size: contain;
  background-size: fill;
  background-repeat: repeat-y;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

.ps3:hover {
  filter: blur(4px); }

.ps3:active {
  filter: invert(2); }

.bodyps4 {
  background-image: url("../assets/images/backgroundps4.jpg");
  background-size: contain;
  background-size: fill;
  background-repeat: repeat-y;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

.ps4:hover {
  filter: blur(4px); }

.ps4:active {
  filter: invert(2); }

.bodyps5 {
  background-image: url("../assets/images/backgroundps5.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-size: fill;
  background-repeat: repeat-y;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

.ps5:hover {
  filter: blur(4px); }

.ps5:active {
  filter: invert(2); }

.pageFooter {
  grid-area: footer;
  display: flex; }

.navItemFooter * {
  box-sizing: border-box; }

.navItemFooter {
  color: white;
  text-decoration: none;
  text-align: left;
  font-family: "Inter-SemiBoldItalic", sans-serif;
  font-size: 0.694rem;
  text-decoration-line: none;
  font-style: italic;
  position: column;
  width: 18px;
  height: 20px;
  box-shadow: none; }

.list-footer {
  list-style: none; }

.cajas * {
  box-sizing: flex; }

.cajas {
  background: #020024;
  background: radial-gradient(circle, #020024 0%, #8b00af 62%, #04045d 93%, #8604cb 100%);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  text-decoration: none;
  text-align: left;
  font-family: "Inter-SemiBoldItalic", sans-serif;
  text-decoration: none;
  font-size: 12px;
  font-style: italic;
  width: auto; }

.cajas a:hover {
  color: yellow; }

.cajas a:active {
  color: #16FF00; }

.icon * {
  border-style: border-box; }

.icon {
  width: 41px;
  height: 41px;
  position: relative;
  overflow: visible;
  border-radius: 50%;
  object-fit: cover; }

.icon:hover {
  filter: invert(2); }

.columna1 a {
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  text-decoration-line: none;
  color: white; }

.columna2 a {
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  text-decoration-line: none;
  color: white; }

.columna3 a {
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  text-decoration-line: none;
  color: white; }

/*componentes*/
.historia-de-playstation {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBoldItalic", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  height: 44px;
  background-color: 1E1E1E;
  display: flex;
  background-color: #1e1d1d; }

.seccion-1 {
  width: 80%;
  height: 80%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2; }

.seccion-1 img {
  width: 50%;
  height: 50%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-1 img:hover {
  transform: scale(1.5); }

.seccion-1 .titulo_P {
  max-width: 80%;
  max-height: 80%; }

.seccion-2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1; }

.seccion-2 .parrafoP {
  all: inherit;
  height: 100%;
  width: 100%;
  font-size: larger;
  color: white;
  word-wrap: normal;
  margin: 0 auto;
  overflow-wrap: break-word; }

.seccion-2 .parrafoP:hover {
  color: red; }

.seccion-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2; }

.seccion-3 .videoyt {
  width: 700px;
  height: 350px; }

.seccion-4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2; }

.seccion-4 img {
  width: 60%;
  height: 60%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-4 img:hover {
  transform: scale(1.5); }

.seccion-4 .parrafoP {
  all: inherit;
  color: white;
  height: auto;
  width: auto;
  overflow-wrap: break-word;
  align-items: center;
  font-size: larger;
  word-wrap: normal; }

.seccion-5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3; }

.seccion-5 .parrafoP {
  all: inherit;
  color: white;
  height: auto;
  width: auto;
  overflow-wrap: break-word;
  align-items: center;
  font-size: larger;
  word-wrap: normal; }

.seccion-5 img {
  height: 70%;
  width: 70%;
  border-radius: 50% 50%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-5 img:hover {
  transform: scale(1.5); }

.seccion-6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3; }

.seccion-6 .parrafoP {
  all: inherit;
  color: white;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: medium;
  overflow-wrap: break-word;
  word-wrap: normal; }

.seccion-6 img {
  width: 50%;
  height: 50%;
  border-radius: 50% 50%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-6 img:hover {
  transform: scale(1.5); }

.seccion-7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4; }

.seccion-7 .parrafoP {
  all: inherit;
  color: white;
  height: 100%;
  width: 100%;
  align-items: center;
  font-size: medium;
  overflow-wrap: break-word;
  word-wrap: normal; }

.seccion-7 img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 20px;
  transition: 0.5s;
  object-fit: cover; }

.seccion-7 img:hover {
  transform: scale(1.5); }

.seccion-8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4; }

.seccion-8 .videoyt {
  width: 700px;
  height: 350px; }

.maquina-del-tiempo * {
  box-sizing: border-box; }

.maquina-del-tiempo:hover {
  background: #16FF00;
  color: white; }

.columna1 h2 {
  color: white;
  position: relative; }

/*mediaQ*/
@media (max-width: 768px) {
  .navC {
    height: auto;
    width: 768px;
    justify-content: space-between; }
  .main-grid {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr); }
  .bodyps1 {
    background-size: contain;
    height: auto;
    width: 768px; }
  .ps1 {
    width: 92px;
    height: 85px; }
  .ps2 {
    width: 92px;
    height: 85px; }
  .ps3 {
    width: 92px;
    height: 85px; }
  .ps4 {
    width: 92px;
    height: 85px; }
  .ps5 {
    width: 92px;
    height: 85px; }
  .generaciones {
    font-size: 40px;
    font-weight: 500; }
  .seccion-1 {
    justify-content: center;
    width: 80%;
    height: 80%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1; }
  .seccion-1 .img {
    width: 80%; }
  .seccion-2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2; }
  .seccion-2 .parrafoP {
    font-size: xx-large;
    width: 70%; }
  .seccion-3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3; }
  .seccion-3 .videoyt {
    width: 768px;
    height: 500px; }
  .seccion-4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    justify-content: center;
    align-items: center; }
  .seccion-4 .parrafoP {
    font-size: xx-large;
    width: 100%;
    height: 100%; }
  .seccion-4 .img {
    width: 80%;
    height: 80%; }
  .seccion-5 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5; }
  .seccion-5 .parrafoP {
    font-size: xx-large;
    width: 100%;
    height: 100%; }
  .seccion-5 .img {
    width: 70%; }
  .seccion-6 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6; }
  .seccion-6 .parrafoP {
    font-size: xx-large;
    width: 100%; }
  .seccion-7 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 7; }
    .seccion-7 .titulo_P {
      color: white; }
    .seccion-7 .parrafoP {
      width: 80%;
      height: 80%; }
    .seccion-7 .img {
      width: 80%;
      height: 80%; }
  .seccion-8 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 8;
    grid-row-end: 8; }
  .seccion-8 .videoyt {
    width: 768px;
    height: 500px; }
  .cajas {
    background: #020024;
    background: radial-gradient(circle, #020024 0%, #8b00af 62%, #04045d 93%, #8604cb 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    text-decoration: none;
    text-align: left;
    font-family: "Inter-SemiBoldItalic", sans-serif;
    text-decoration: none;
    font-size: 9px;
    font-style: italic;
    width: 760px;
    height: auto; } }

@media (max-width: 468px) {
  .navC {
    height: auto;
    width: 360px;
    justify-content: left; }
  .cintillo {
    height: auto;
    width: 350px; }
  .main-grid {
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr); }
  .bodyps1 {
    background-size: contain; }
  .bodyps2 {
    background-size: contain; }
  .bodyps3 {
    background-size: contain; }
  .bodyps4 {
    background-size: contain; }
  .bodyps5 {
    background-size: contain; }
  .ps1 {
    display: none; }
  .ps2 {
    display: none; }
  .ps3 {
    display: none; }
  .ps4 {
    display: none; }
  .ps5 {
    display: none; }
  .generaciones {
    font-size: large;
    font-weight: large; }
  .seccion-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    height: auto;
    width: 390px; }
  .seccion-1 .img {
    width: 100%;
    height: 100%; }
  .seccion-2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    height: auto;
    width: 410px; }
  .seccion-2 .parrafoP {
    font-size: medium; }
  .seccion-3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3; }
  .seccion-3 .videoyt {
    height: 300px;
    width: 350px; }
  .seccion-4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 425px; }
  .seccion-4 .parrafoP {
    font-size: medium;
    width: 80%;
    height: 80%; }
  .seccion-4 .img {
    display: none; }
  .seccion-5 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    height: auto;
    width: 410px; }
  .seccion-5 .parrafoP {
    font-size: medium;
    width: 80%;
    height: 80%; }
  .seccion-5 img {
    height: 100%;
    width: 100%; }
  .seccion-6 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6;
    height: 300px;
    width: 350px; }
  .seccion-6 .parrafoP {
    font-size: medium; }
  .seccion-7 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 7;
    height: auto;
    width: 410px; }
  .seccion-8 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 8;
    grid-row-end: 8;
    height: auto;
    width: 425px;
    align-items: center; }
  .seccion-8 .videoyt {
    height: 300px;
    width: 350px; }
  .cajas {
    background: radial-gradient(circle, #020024 0%, #8b00af 62%, #04045d 93%, #8604cb 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    text-decoration: none;
    text-align: left;
    font-family: "Inter-SemiBoldItalic", sans-serif;
    text-decoration: none;
    font-size: 7px;
    font-style: italic;
    width: 360px;
    height: 300px; } }
