
.navC {
    grid-area: header;
    display:flex;
    justify-content: space-between;
    list-style: none;
    .letrasnav{
    color: #ffffff;
    font-family: "Inter-SemiBoldItalic", sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    text-decoration:none ; 
} 
    }
.historia-de-playstation {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBoldItalic", sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    position: relative;
    height: 44px;
    background-color: 1E1E1E;
    display:flex;
    background-color: rgb(30, 29, 29);
    
    }
.ps1 {
        @include iconNav;
        object-fit:cover;
    }
.ps2 {
        @include iconNav;
    }
.ps3 {
    @include iconNav;

}
.ps4 {
    @include iconNav;
}
.ps5 {
    @include iconNav;
}
.navBar{
    .cintillo{
        width: 100%;
        height: auto;
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(139,0,175,1) 62%, rgba(4,4,93,1) 93%, rgba(134,4,203,1) 100%);
        border-image: round;
.letras-nav{
        @include letraNav;
    }
        .generaciones{
        @include letraNav;
    }
}
}