.bodyps2{
    background-image:  url("../assets/images/backgroundps2.jpg");
    background-size:contain;
    display:flex;
    @include main-grid;
}
.ps2:hover{
    filter:blur(4px);
}
.ps2:active{
    filter:invert(2)
}

.pagP{
    background-image: url("../assets/images/background.jpg");
    background-size:100%;
    background-repeat: repeat;
    display: grid;
    width:100%;
    height:100%;
    grid-template-columns: 1fr;
    grid-template-rows:1fr auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
.cuerpopag{
    height: 100%;
    width: 100%;
}
.main-grid{
    grid-area: main;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(4,1fr) ;

}
.seccion-2{

    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start: 1;
    grid-row-end:1 ;
}
.seccion-2 .parrafoP{
    height:100%;
    width: 100%;
    font-size: larger;
    color:white;
}
.seccion2 .img{
    width: 50%;
    height: 50%;
}
.seccion-2 .parrafoP:hover{
    color:red
}
.seccion-3{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start:2;
    grid-row-end:2 ;
    
}
.seccion-3 .videoyt{
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}
.seccion-4{
    grid-column-start:3 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:2;
}
.seccion-4 img{
    width: 60%;
    height: 60%;
    overflow: hidden;
    margin: 20px;
    transition: 0.5s;
    object-fit: cover;
}
.seccion-4 img:hover{
    transform:scale(1.5);
}
.seccion-4 .parrafoP{
    all: inherit;
    color:white;
    height:auto;
    width: auto;
    overflow-wrap:break-word;
    align-items:center;
    font-size: larger;
    word-wrap: normal;
}
.seccion-5{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start: 3;
    grid-row-end:3 ;
}
.seccion-5 .parrafoP{
    all: inherit;
    color:white;
    height:auto;
    width: auto;
    overflow-wrap:break-word;
    align-items:center;
    font-size: larger;
    word-wrap: normal;
}
.seccion-5 img{
    height:70%;
    width: 70%;
    border-radius: 50% 50%;
    overflow: hidden;
    margin: 20px;
    transition: 0.5s;
    object-fit: cover;
}
.seccion-5 img:hover{
    transform: scale(1.5);
}
.seccion-6{
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start:3;
    grid-row-end:3 ;
}
.seccion-6 .parrafoP{
    all:inherit;
    color: white;
    height:100%;
    width: 100%;
    align-items:center;
    font-size: medium;
    overflow-wrap:break-word;
    word-wrap: normal;
}
.seccion-6 img{
    width: 50%;
    height: 50%;
    border-radius: 50% 50%;
    overflow: hidden;
    margin: 20px;
    transition: 0.5s;
    object-fit: cover;
}
.seccion-6 img:hover{
    transform: scale(1.5);

}
.seccion-7{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start:4 ;
    grid-row-end:4 ;
}
.seccion-7 .parrafoP{
    all:inherit;
    color: white;
    height:100%;
    width: 100%;
    align-items:center;
    font-size: medium;
    overflow-wrap:break-word;
    word-wrap: normal;
}
.seccion-7 img{
    height:auto;
    width: auto;
    overflow: hidden;
    margin: 20px;
    transition: 0.5s;
    object-fit: cover;
}
.seccion-7 img:hover{
    transform:scale(1.5);
}
.seccion-8{
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start:4;
    grid-row-end:4 ;
    
}
.seccion-3 .videoyt{
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}