.historia-de-playstation {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBoldItalic", sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    height: 44px;
    background-color: 1E1E1E;
    display: flex;
    background-color: #1e1d1d; }
.seccion-1{
    width: 80%;
    height: 80%;
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start: 1;
    grid-row-end:2 ;
}

.seccion-1 img{
    width: 50%;
    height: 50%;
    overflow: hidden;
    margin: 20px;
    transition: 0.5s;
    object-fit: cover;
}
.seccion-1 img:hover{
    transform:scale(1.5);
}
.seccion-1 .titulo_P{
    max-width: 80%;
    max-height: 80%;
} 

.seccion-2{

    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start: 1;
    grid-row-end:1 ;
}
.seccion-2 .parrafoP{
    all:inherit;
    height:100%;
    width: 100%;
    font-size: larger;
    color:white;
    word-wrap: normal;
    margin: 0 auto; 
    overflow-wrap:break-word;
}
.seccion-2 .parrafoP:hover{
    color:red
}
.seccion-3{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start:2;
    grid-row-end:2 ;
    
}
.seccion-3 .videoyt{
    width: 700px;
    height: 350px;
}
.seccion-4{
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start: 2;
    grid-row-end:2;
}
.seccion-4 img{
    width: 60%;
    height: 60%;
    overflow: hidden;
    margin: 20px;
    transition: 0.5s;
    object-fit: cover;
}
.seccion-4 img:hover{
    transform:scale(1.5);
}
.seccion-4 .parrafoP{
    all: inherit;
    color:white;
    height:auto;
    width: auto;
    overflow-wrap:break-word;
    align-items:center;
    font-size: larger;
    word-wrap: normal;
}
.seccion-5{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start: 3;
    grid-row-end:3 ;
}
.seccion-5 .parrafoP{
    all: inherit;
    color:white;
    height:auto;
    width: auto;
    overflow-wrap:break-word;
    align-items:center;
    font-size: larger;
    word-wrap: normal;
}
.seccion-5 img{
    height:70%;
    width: 70%;
    border-radius: 50% 50%;
    overflow: hidden;
    margin: 20px;
    transition: 0.5s;
    object-fit: cover;
}
.seccion-5 img:hover{
    transform: scale(1.5);
}
.seccion-6{
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start:3;
    grid-row-end:3 ;
}
.seccion-6 .parrafoP{
    all:inherit;
    color: white;
    height:100%;
    width: 100%;
    align-items:center;
    font-size: medium;
    overflow-wrap:break-word;
    word-wrap: normal;
}
.seccion-6 img{
    width: 50%;
    height: 50%;
    border-radius: 50% 50%;
    overflow: hidden;
    margin: 20px;
    transition: 0.5s;
    object-fit: cover;
}
.seccion-6 img:hover{
    transform: scale(1.5);

}
.seccion-7{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start:4 ;
    grid-row-end:4 ;
}
.seccion-7 .parrafoP{
    all:inherit;
    color: white;
    height:100%;
    width: 100%;
    align-items:center;
    font-size: medium;
    overflow-wrap:break-word;
    word-wrap: normal;
}
.seccion-7 img{
    height:100%;
    width: 100%;
    overflow: hidden;
    margin: 20px;
    transition: 0.5s;
    object-fit: cover;
}
.seccion-7 img:hover{
    transform:scale(1.5);
}
.seccion-8{
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start:4;
    grid-row-end:4 ;
    
}
.seccion-8 .videoyt{
    width: 700px;
    height: 350px;
}
.maquina-del-tiempo * {
    box-sizing: border-box;
}
.maquina-del-tiempo:hover{
    background: map-get($colores, colorT);
    color:white
}
.columna1 h2{
    color:white;
    position :relative;
    }


    