@media (max-width:468px){
    .bodyps1{
        object-fit:auto;
    }
    .navC{
        height:auto;
        width: 425px;
        justify-content:left;
    }
    .cintillo{
        height:auto;
        width: 425px;
    }
    .main-grid{
        width: auto;
        grid-template-columns:repeat(1,1fr);
        grid-template-rows: repeat(8,1fr) ;
    }
    .bodyps1{
        background-size:contain;
    }
    .bodyps2{
        background-size:contain;
    }
    .bodyps3{
        background-size:contain;
    }
    .bodyps4{
        background-size:contain;
    }
    .bodyps5{
        background-size:contain;
    }
    .ps1 {
        display:none;
    }
    .ps2 {
        display:none;
    }
    .ps3 {
        display:none;
    }
    .ps4 {
        display:none;
    }.ps5 {
        display:none;
    }
    .generaciones{
        font-size:large;
        font-weight:large;
    }
    .seccion-1{
        height: 30%;
        width: 30%;
        grid-column-start:1 ;
        grid-column-end: 1;
        grid-row-start:  1 ;
        grid-row-end:1 ;
    }
    .seccion-1 .img{
        width: 50%;
        height: 50%;
    }
    .seccion-2{
        grid-column-start:1 ;
        grid-column-end: 1;
        grid-row-start:  2 ;
        grid-row-end:2 ;
    }
    .seccion-2 .parrafoP{
        justify-content:left;
        font-size: medium;
        height: 60%;
        width: 60%;
    }
    .seccion-3{
        grid-column-start:1 ;
        grid-column-end: 1;
        grid-row-start:  3 ;
        grid-row-end:3 ;
    }
    .seccion-3 .videoyt{
        width: auto ;
        height:auto;
        justify-items: stretch;
    }
    .seccion-4{
        grid-column-start:1 ;
        grid-column-end: 1;
        grid-row-start:  4 ;
        grid-row-end:4 ;
        justify-content:flex-start;
    }
    .seccion-4 .parrafoP{
        font-size: medium;
        width: 100%;
        height: 100%;
    }
    .seccion-4 .img{
        display: none;
    }
    .seccion-5{
            grid-column-start:1 ;
            grid-column-end: 1;
            grid-row-start:  5 ;
            grid-row-end:5 ;
    }
    .seccion-5 .parrafoP{
        font-size: medium;
        width: 80%;
        height:80%;
    }
    .seccion-5 img{
        height: 50%;
        width:50% ;
    }
    .seccion-6{
        grid-column-start:1 ;
        grid-column-end: 1;
        grid-row-start:  6 ;
        grid-row-end:6 ;   
    }
    .seccion-6 .parrafoP{
        font-size: medium
    }
    .seccion-7{
        grid-column-start:1 ;
        grid-column-end: 1;
        grid-row-start:  7 ;
        grid-row-end:7 ; 
    }
    .seccion-8{
        grid-column-start:1 ;
        grid-column-end: 1;
        grid-row-start:  8 ;
        grid-row-end:8 ; 
}
.seccion-8 .videoyt{
    width: auto;
    height: auto;
}

    .cajas{
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(139,0,175,1) 62%, rgba(4,4,93,1) 93%, rgba(134,4,203,1) 100%);
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: white;
        text-decoration: none;
        text-align: left;
        font-family: "Inter-SemiBoldItalic", sans-serif;
        text-decoration:none;
        font-size: 7px;
        font-style: italic;
        width: 425px;
        height: auto;
    }
}